{% extends "base.html.twig" %}

{% block title %}Symrecipe - Acceuil{% endblock title %}

{% block body %}

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue sur SymRecipe</h1>
            <p class="lead">SymRecipe est une application qui va te permettre de créer des recettes à la base d'ingrédients que tu aura toi même créer.
                Tu pourra les partager, ou bien les garder en privées.</p>
            <hr class="my-4">
            <p>Pour commencer rendez-vou sur la page d'inscription</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">INSCRIPTION</a>
        </div>
    </div>



{% endblock body %}



